# OSX
.DS_Store

# Ignore local dev SSL certs
/ssl

# Ignore Firebase
firebase.json

# Ignore .env
.env

# compiled output
/dist
/tmp

# dependencies
/node_modules
/bower_components

# misc
/.sass-cache
/connect.lock
/coverage/*
/libpeerconnection.log
npm-debug.log
testem.log
